body {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    border-width: 5px;
    border-color: yellow;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:10px;
    padding-top: 5px;
   }
 
#wrapper { width: 90%;
			margin-left:auto;
			margin-right:
}			
a {
    color: black ;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: red;
}

nav { 
	text-align: center;


}

figcaption { 
    display: italic;
}

/* This is my first use of CSS I learned in the book, the nav bar is centered
and the body page has a designated font family and uniform border size with the other pages. */